theme "catppuccin-mocha"
 
pane_frames false
 
scrollback_editor "nvim"
 
session_serialization true
 
show_startup_tips false
 
show_release_notes false

keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    pane {
        bind "down" { NewPane "down"; SwitchToMode "normal"; }
        bind "right" { NewPane "right"; SwitchToMode "normal"; }
        bind "c" { }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "j" { NewPane "down"; SwitchToMode "normal"; }
        bind "l" { NewPane "right"; SwitchToMode "normal"; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "p" { SwitchFocus; SwitchToMode "normal"; }
        bind "Alt p" { SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
    }
    tab {
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "Alt [" { SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "h" { MoveTab "left"; }
        bind "l" { MoveTab "right"; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
    }
    resize {
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "Alt r" { SwitchToMode "normal"; }
    }
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "Alt m" { SwitchToMode "normal"; }
    }
    scroll {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "home" { ScrollToTop; SwitchToMode "normal"; }
        bind "end" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "u" { HalfPageScrollUp; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "N" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "d" { Detach; }
        bind "Alt o" { SwitchToMode "normal"; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocusOrTab "right"; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt g" { SwitchToMode "locked"; }
        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocusOrTab "right"; }
        bind "Alt q" { Quit; }
    }
    shared_except "locked" "move" {
        bind "Alt m" { SwitchToMode "move"; }
    }
    shared_except "locked" "session" {
        bind "Alt o" { SwitchToMode "session"; }
    }
    shared_except "locked" "scroll" "search" {
        bind "Alt s" { SwitchToMode "scroll"; }
    }
    shared_except "locked" "tab" {
        bind "Alt [" { SwitchToMode "tab"; }
    }
    shared_except "locked" "pane" {
        bind "Alt p" { SwitchToMode "pane"; }
    }
    shared_except "locked" "resize" {
        bind "Alt r" { SwitchToMode "resize"; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_among "scroll" "search" {
        bind "Alt s" { SwitchToMode "normal"; }
    }
    entersearch {
        bind "Alt c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Alt c" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
}

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    zjstatus location="file:/home/light/.config/zellij/plugins/zjstatus.wasm" {
        border_char "─"
        border_enabled false
        border_format "#[bg=$surface0]{char}"
        border_position "top"
        color_base "#1e1e2e"
        color_blue "#89b4fa"
        color_crust "#11111b"
        color_flamingo "#f2cdcd"
        color_green "#a6e3a1"
        color_lavender "#b4befe"
        color_mantle "#181825"
        color_maroon "#eba0ac"
        color_mauve "#cba6f7"
        color_overlay0 "#6c7086"
        color_overlay1 "#7f849c"
        color_overlay2 "#9399b2"
        color_peach "#fab387"
        color_pink "#f5c2e7"
        color_red "#f38ba8"
        color_rosewater "#f5e0dc"
        color_sapphire "#74c7ec"
        color_sky "#89dceb"
        color_subtext0 "#a6adc8"
        color_subtext1 "#bac2de"
        color_surface0 "#313244"
        color_surface1 "#45475a"
        color_surface2 "#585b70"
        color_teal "#94e2d5"
        color_text "#cdd6f4"
        color_yellow "#f9e2af"
        command_host_command "uname -n"
        command_host_format "{stdout}"
        command_host_interval "0"
        command_host_rendermode "static"
        command_user_command "whoami"
        command_user_format "{stdout}"
        command_user_interval "10"
        command_user_rendermode "static"
        datetime "{format}"
        datetime_format "󰅐 %H:%M"
        datetime_timezone "America/Bogota"
        format_center "{notifications}"
        format_hide_on_overlength true
        format_left "{mode}#[bg=$mantle] {tabs}"
        format_precedence "lrc"
        format_right ""
        format_space "#[bg=$mantle]"
        
        mode_enter_search "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surfaco,fg=$flamingo]█"
        mode_locked "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$surface0,fg=$red]█"
        mode_move "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$surface0,fg=$yellow]█"
        mode_normal "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$surface0,fg=$green]█"
        mode_pane "#[bg=$teal,fg=$crust,bold] PANE#[bg=$surface0,fg=$teal]█"
        mode_prompt "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$surface0,fg=$pink]█"
        mode_rename_pane "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$surface0,fg=$yellow]█"
        mode_rename_tab "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$surface0,fg=$yellow]█"
        mode_resize "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surfac0,fg=$yellow]█"
        mode_scroll "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$surface0,fg=$flamingo]█"
        mode_search "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$surfac0,fg=$flamingo]█"
        mode_session "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$surface0,fg=$pink]█"
        mode_tab "#[bg=$teal,fg=$crust,bold] TAB#[bg=$surface0,fg=$teal]█"
        mode_tmux "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$surface0,fg=$mauve]█"
        
        notification_format_no_notifications ""
        notification_format_unread "#[bg=surface0,fg=$yellow]█#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]█"
        notification_show_interval "10"
        
        tab_active "#[bg=$mantle,fg=$blue]█#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{floating_indicator}#[bg=$mantle,fg=$surface0]█"
        tab_active_fullscreen "#[bg=$mantle,fg=$blue]█#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$mantle,fg=$surface0]█"
        tab_active_sync "#[bg=$mantle,fg=$blue]█#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface0,fg=$blue,bold] {name}{sync_indicator}#[bg=$mantle,fg=$surface0]█"
        
        tab_floating_indicator " 󰹙"
        tab_fullscreen_indicator " 󰊓"
        
        tab_normal "#[bg=$mantle,fg=$subtext0]█#[bg=$subtext0,fg=$crust,bold]{index} #[bg=$surface0,fg=$subtext0,bold] {name}{floating_indicator}#[bg=$mantle,fg=$surface0]█"
        tab_normal_fullscreen "#[bg=$mantle,fg=$subtext0]█#[bg=$subtext0,fg=$crust,bold]{index} #[bg=$surface0,fg=$subtext0,bold] {name}{fullscreen_indicator}#[bg=$mantle,fg=$surface0]█"
        tab_normal_sync "#[bg=$mantle,fg=$subtext0]█#[bg=$subtext0,fg=$crust,bold]{index} #[bg=$surface0,fg=$subtext0,bold] {name}{sync_indicator}#[bg=$mantle,fg=$surface0]█"
        
        tab_separator "#[bg=$mantle] "
        tab_sync_indicator " "
    }
}

load_plugins {
}
 
 
